#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=steam_launch_options_manager
Comment=Manages steam launch options
Exec=steam_launch_options_manager